.App {
  text-align: center;

  .header-card {
    margin: 8px auto;
    display: inline-block;

    img {
      width: 50%;
    }

    table {
      margin: 0 auto;
      border-collapse: collapse;
    }
  }

  .forecast-card {
    margin: 8px;
    vertical-align: top;
    display: inline-block;

    table {
      width: 100%;
      border-collapse: collapse;
    }

    .table-img {
      text-align: center;
    }

    td,
    th {
      text-align: left;
      padding-left: 8px;
      padding-right: 8px;

      img {
        width: 50%;
      }
    }

    tr:nth-child(even) {
      background-color: lightcyan;
    }
  }
}
