.LocationCard {
  margin: 8px;

  .mapCard {
    margin: 8px;
    vertical-align: top;
    display: inline-block;
    width: 300px;

    .map-image {
      height: 300px;
    }
  }

  .header-card {
    background-color: aquamarine;
    margin: 8px auto;
    display: inline-block;
    min-width: 300px;

    table {
      margin: 0 auto;
      border-collapse: collapse;
    }
  }
}
